mixin breadcrumbs(a)
	ul.breadcrumbs&attributes(attributes)
		if a.breadcrumbs
			each breadcrumb in a.breadcrumbs
				li
					if breadcrumb.link
						a(href="3")
							span!=breadcrumb.name
					else
						span!=breadcrumb.name

mixin newsBlocks(a)
	ul.newsBlock&attributes(attributes)
		if a.newsBlocks
				each newsBlock in a.newsBlocks
					li
						if newsBlock.link
							a(href="3")
								span!=newsBlock.name
						else
							span!=newsBlock.name

mixin nblocks(n)
	each nblock in n
		li.n=nblock.name
